In [6]:
import random
import pandas as pd


def rounds():
    
    df_player = pd.read_csv('ratings.txt', delim_whitespace=True,header=None,names=('Golfer', 'Mean', 'SD'))
    
    for round in range(3):
        for i in range(1, len(df_player)):
            df_player.iloc[i]['Mean'] = float(df_player.iloc[i]['Mean']) + random.normalvariate(float(df_player.iloc[i]['Mean']),float(df_player.iloc[i]['SD']))
            
    #return df_player

def monte_carlo_simuation():
    
    for i in range(1, 1000):
        rounds()

                      Golfer     Mean                 SD
0                     Golfer     Mean  Standarddeviation
1               SergioGarcia  561.388       2.8022106094
2                 TigerWoods  538.313       2.7891506279
3                 KennyPerry  557.725        2.779164583
4   GonzaloFernandez-Castano  565.659      2.80730658184
5                RoryMcIlroy  573.223      2.81525581752
6                   JohnCook  569.379        2.748840518
7                 JacoVanZyl  542.548      2.78426082931
8             BrandtSnedeker  567.106      2.77189131799
9          FrancescoMolinari  558.724      2.74834473201
10           MatteoManassero  567.592      2.77346484857
11              RoccoMediate  575.081      2.78827651594
12             PhilMickelson  567.667      2.77942880401
13                JustinRose  550.699      2.75785755538
14                  JimFuryk  561.738      2.74303206415
15                LukeDonald  545.726      2.75356932454
16               SouthAfrica  557.673        2.752106981
17           CharlSchwartzel  562.204      2.78476477706
18              DuffyWaldorf  557.213      2.75608325682
19            DarrenFichardt  548.941       2.7804524764
20                   JayHaas  577.985        2.712519019