In [1]:
# pasting the previous video of people dictionary data

people = {
    "first": ['srinu','sow','abc'],
    "last" : ['balireddy','yalla','abc'],
    "email": ['abc@abc.com','kbc@kbc.com','abc@abc.com']
}

import pandas as pd
df = pd.DataFrame(people)
df

   first       last        email
0  srinu  balireddy  abc@abc.com
1    sow      yalla  kbc@kbc.com
2    abc        abc  abc@abc.com

In [2]:
# to identify people with last name = yalla

df['last'] == 'yalla'

#  it provides a series of boolean result of True false where the data met and not met our filter criteria respectively

0    False
1     True
2    False
Name: last, dtype: bool

In [3]:
# assign the above operation to a variable

filt = (df['last'] == 'yalla')    # it is better to put the filter criteria in ()
df[filt]

# this will give the df output

  first   last        email
1   sow  yalla  kbc@kbc.com

In [5]:
# it is better to use loc while providing the filter variable as input 
# it will help us to grab the specific column name we want to display 

df.loc[filt]       # this will give the same output as df[filt]

df.loc[filt,'email']    # this will display only the email

# we can provide more number of columns as well

df.loc[filt,['email','first']]    # note the inner list for column names

         email first
1  kbc@kbc.com   sow

In [7]:
# in pandas & represent AND 
# in pandas | represent OR

# to filter last name = yalla and first name = sow

filt = (df['last'] == 'yalla') & (df['first'] == 'sow')    # paranthesis are for better representation

df[filt]

  first   last        email
1   sow  yalla  kbc@kbc.com

In [8]:
# to filter last name = yalla OR first name srinu

filt = (df['last'] == 'yalla') | (df['first'] == 'srinu')    # paranthesis are for better representation

df[filt]

   first       last        email
0  srinu  balireddy  abc@abc.com
1    sow      yalla  kbc@kbc.com

In [10]:
# displaying only the email of the above result

df.loc[filt,'email']

0    abc@abc.com
1    kbc@kbc.com
Name: email, dtype: object

In [11]:
# if we want the opposite of the above condition,
# we are use tilda operator(~)

df.loc[~filt,'email']

2    abc@abc.com
Name: email, dtype: object

In [19]:
# now lets go back to stackover flow dataset and manipulate the data using pandas.
# just consolidate the csv file reading code 


import pandas as pd
df        = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 5)

In [20]:
# filter people who earn a salary more than a specific value
# we can check in schema_df to find the salary column name , in this case it is ConvertedComp

high_salary = df['ConvertedComp'] > 75000    # this will give series of boolean results

df.loc[high_salary]

# this will display the people with salary more than 75000

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,...,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...
88326,88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88329,88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",...,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy

In [22]:
# to grab only specific columns

df.loc[high_salary, ['Country','LanguagesWorkedWith','ConvertedComp']]

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

           Country  LanguagesWorkedWith  ConvertedComp
5           Canada                  NaN       366420.0
8      New Zealand                  NaN        95179.0
...            ...                  ...            ...
88326      Finland                  NaN        82488.0
88329  Netherlands                  NaN       588012.0

[20541 rows x 3 columns]

In [25]:
# filter survey results to filter specific countries
# we can create a list of those countries 

countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
filt = df['Country'].isin(countries)

In [30]:
# now displaying only those countries in the list

df.loc[filt,'Country']

0        United Kingdom
3         United States
              ...
88877     United States
88878            Canada
Name: Country, Length: 45008, dtype: object

In [32]:
# to display the counts of individual countries

df.loc[filt,'Country'].value_counts()

United States     20949
India              9061
Germany            5866
United Kingdom     5737
Canada             3395
Name: Country, dtype: int64

In [33]:
# we can use string methods to filter our dataframe

# to identify people who worked in Python language, here LanguageWorkedWith is the column 

df['LanguageWorkedWith']

# here this column has data with ; as seperator , so we can use str method to find a specific value

0                          HTML/CSS;Java;JavaScript;Python
1                                      C++;HTML/CSS;Python
                               ...
88881                                                  NaN
88882    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [36]:
# using str method

df['LanguageWorkedWith'].str.contains('Python', na=False)   # na=False to leave out NAN(not a number) values

# this will give a series of boolean values

0         True
1         True
         ...
88881    False
88882    False
Name: LanguageWorkedWith, Length: 88883, dtype: bool

In [37]:
# so assign it to a variable

filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [38]:
df.loc[filt,'LanguageWorkedWith']

0                 HTML/CSS;Java;JavaScript;Python
1                             C++;HTML/CSS;Python
                           ...
88872    C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88876                  HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object

In [ ]:
df['LanguageWorkedWith']