In [2]:
# to check how dataframes work in reference to python dictionaries

people = {
    "first": ['srinu','sow','abc'],
    "last" : ['balireddy','yalla','abc'],
    "email": ['abc@abc.com','kbc@kbc.com','abc@abc.com']
        
}

# here keys can be considered as columns and values as rows
# as per definition, dataframe is a 2d data structure. which means rows and columsn

In [3]:
people

{'first': ['srinu', 'sow', 'abc'],
 'last': ['balireddy', 'yalla', 'abc'],
 'email': ['abc@abc.com', 'kbc@kbc.com', 'abc@abc.com']}

In [4]:
# converting that people dictionary into a dataframe

import pandas as pd
df = pd.DataFrame(people) # note the DataFrame is Titled
df

   first       last        email
0  srinu  balireddy  abc@abc.com
1    sow      yalla  kbc@kbc.com
2    abc        abc  abc@abc.com

In [5]:
# accessing dataframe values

df['email']

# the below result is a series object. 
# series is basically a list of data but it has lot more functionality like df's
# as per definition, series is a 1d array, in simple terms it says rows of data

# dataframes contains rows and columns 
# series contains rows of a single column
# df is a container for multiple series objects

0    abc@abc.com
1    kbc@kbc.com
2    abc@abc.com
Name: email, dtype: object

In [6]:
# to find the type of an object
type(df['email'])

pandas.core.series.Series

In [7]:
# we can access a single column in a different way than above

df.email

# this dot notation is also an option but [] way is best because with dot notation there is a chance that df method is same
# as the column name. Then it will result in a different result as df wil access it's builtin method than column name.

0    abc@abc.com
1    kbc@kbc.com
2    abc@abc.com
Name: email, dtype: object

In [8]:
# access multiple column 

df[['email','last']] # note the inner brackets as well(else key error). This should be given for multiple values 

# note that with multiple columns, output is no longer a series object.
# now it will be another dataframe which is a filtered one of the original df

         email       last
0  abc@abc.com  balireddy
1  kbc@kbc.com      yalla
2  abc@abc.com        abc

In [9]:
# to fetch all the columns in the df

df.columns

Index(['first', 'last', 'email'], dtype='object')

In [10]:
# to get rows from the df, we can use
# loc & iloc indexers

"""
iloc
"""

# iloc(integer location) enables us to access the rows by integer location
# to fetch first row


df.iloc[0]

# results a series that contains the first row of data
# here the index in the result are the column names (first, last, email)

first          srinu
last       balireddy
email    abc@abc.com
Name: 0, dtype: object

In [11]:
# to fetch multiple rows
# be sure to pass the input in an inner list

df.iloc[[0,1]]   


# here the output is not a series, rather a df

   first       last        email
0  srinu  balireddy  abc@abc.com
1    sow      yalla  kbc@kbc.com

In [12]:
# with iloc we can pass in the columns as well 
# they will be a second value into the outer brackets

# if we consider loc & iloc as functions, rows form the first arg and columns form the second arg
# as iloc takes integer value rather than name(which loc does), we have to pass column index

df.iloc[[0,1],2]      # 2 index is for email column


# output is a series object

0    abc@abc.com
1    kbc@kbc.com
Name: email, dtype: object

In [13]:
""" loc """

# using loc we are going to search by label.

# intially rows will just have numbered index , we can change them later (next video)

df.loc[0]

# at the moment this looks similar to iloc, in next video we will see how to change the row label index

first          srinu
last       balireddy
email    abc@abc.com
Name: 0, dtype: object

In [14]:
# multiple rows

df.loc[[0,1]]

   first       last        email
0  srinu  balireddy  abc@abc.com
1    sow      yalla  kbc@kbc.com

In [15]:
# fetching columns
# now we can pass in column label

df.loc[[0,1],'email']

0    abc@abc.com
1    kbc@kbc.com
Name: email, dtype: object

In [16]:
# fetching multiple columns and rows

df.loc[[0,1],['email','last']]

         email       last
0  abc@abc.com  balireddy
1  kbc@kbc.com      yalla

In [17]:
# now lets go back to stackover flow dataset and manipulate the data using pandas.
# just consolidate the csv file reading code 


import pandas as pd

df        = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [18]:
# to display all the columns in df

schema_df.columns
# df.columns

Index(['Column', 'QuestionText'], dtype='object')

In [19]:
# to fetch a specify column values

df['Hobbyist']

# we will get a series of responses.
# the number of results depends on the max rows and columns limit we set in the 20th cell

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [20]:
# pandas provides an easy way to count the distinct counts in a column

df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [21]:
# to assign the output of counts to variables

a,b = df['Hobbyist'].value_counts()

In [22]:
a

71257

In [23]:
# to fetch rows 

df.loc[0] 

# outputs the first row values

Respondent                                                      1
MainBranch                 I am a student who is learning to code
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 0, Length: 85, dtype: object

In [24]:
# to fetch rows and columns

df.loc[0,'Hobbyist']

'Yes'

In [25]:
# multiple rows and columns

df.loc[[0,1,2],'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [26]:
# we can use slicing as well which will be similar to list BUT MAIN CHANGE IS THAT , THE LAST VALUE IS INCLUSIVE
# BECAUSE WHILE ACCESSING COLUMNS , WE DO NOT WANT TO PROVIDE AN EXTRA COLUMN TO FETCH UNTIL THE PREVIOUS ONE.
# AS IT PROVIDES A WRONG REPRESENTATION.

df.loc[[0:2],['Respondent':'Hobbylist']]

SyntaxError: invalid syntax (<ipython-input-26-4fc8d5b1bd5e>, line 5)

In [27]:
# the above errored because the INNERLIST is not necessary while using slicing

df.loc[0:2,'Respondent':'Hobbyist']

   Respondent                                         MainBranch Hobbyist
0           1             I am a student who is learning to code      Yes
1           2             I am a student who is learning to code       No
2           3  I am not primarily a developer, but I write co...      Yes

In [29]:
df.loc[0:9]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,...,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,...,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",...,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
6,7,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,...,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",...,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,...,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",...,NaN,NaN,Yes,Too long,Difficult